@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

/* Menghilangkan efek tap biru pada elemen yang mendapatkan fokus */
body:focus {
  outline: none;
}


html {
  min-height: 100%;
  margin: 0;
}

:root {
  --gold-color: #f7d098;
  --dark-bg: #212121;
  --medium-bg: #333333;
  --light-bg: #737373;
  --grey-text: #999999;
  --white: #ffffff;
}

/* CSS untuk Dark UI Aplikasi Restoran Elegan dengan Warna Emas */

body {
  background-color: var(--dark-bg);
  color: var(--grey-text);
  font-family: Open Sans, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
}


/* Gaya umum untuk kontainer pencarian */

.search-category-container {
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 56px;
  margin-bottom: 30px;
}

.search {
  margin-right: 10px;
}

.search-form {
  display: flex;
  height: 56px;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--medium-bg);
  margin: 20px 0px;
  width: 100%;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.105px;
}

.search-input {
  border: none;
  outline: none;
  background-color: var(--medium-bg);
  color: var(--white);
}

.category-filter {
  height: 56px;
  border: none;
  outline: none;
  text-align: center;
  background-color: var(--medium-bg);
  color: var(--grey-text);
  border-radius: 10px;
  padding: 8px 0px;
  font-size: 14px;
}

.recommendations {
  list-style: none;
  padding: 0;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  width: auto;
  color: var(--white);
  background-color: var(--medium-bg);
  z-index: 1;
  display: none;
  max-height: 250px;
  overflow-y: scroll;
}

.recommendations li:hover {
  background-color: var(--light-bg);
}

.recommendations li {
  padding: 10px;
  cursor: pointer;
}

.recommendations li:hover {
  background-color: var();
}


.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 2vw;
  margin: 10px;
  margin-bottom: 60px;
}

.product-item {
  border-radius: 8px;

}

/* Styles for the product card */

.product-card {
  text-align: center;
}

.product-image {
  max-width: 100%;
  width: 151px;
  height: 151px;
  flex-shrink: 0;
  margin-bottom: 5px;
  border-radius: 16px;
  object-fit: cover;
}

.product-name {
  font-size: 17px;
  margin: 0;
  color: var(--white);
  text-align: left;
  line-height: 1.4;
}

.product-price {
  font-size: 12px;
  margin: 0;
  color: var(--grey-text);
  text-align: left;
  margin-bottom: 8px;
}

.container-details {
  position: fixed;
  overflow-y: auto;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  /* Untuk menempatkan di tengah secara horizontal */
}

.con-details {
  background-color: var(--dark-bg);
}

.container-details::-webkit-scrollbar {
  width: 8px;
}

.container-details::-webkit-scrollbar-track {
  background-color: var(--dark-bg);
}

.container-details::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.container-details::-webkit-scrollbar-thumb:hover {
  background-color: var(--gold-color);
}

.header-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}


.header-details .left {
  flex: 1;
  text-align: left;
  text-decoration: none;
}

.header-details .right {
  flex: 1;
  text-align: right;
}

.header-details a {
  text-decoration: none;
  color: var(--white);
}

.header-details .right a:last-child {
  margin-left: 0;
}

.product-details-container {
  margin: 0px 20px;
  position: relative;
  top: -80px;
  z-index: 5;
  background: linear-gradient();
}


.product-details-image {
  padding: 20PX;
}

.product-details-image img {
  width: 100%;
  border-radius: 20px;
}

.product-details-new {
  width: 100%;

  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  text-align: left;
}


.product-details-new:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 75%;
  display: block;
  background: linear-gradient(0deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0) 100%);
}

/* The rest of your existing styles */
.image-ratio {
  position: relative;
  overflow: hidden;
}

.image-ratio:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.image-ratio .ratio-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.image-ratio .ratio-inner img {
  width: 100%;
  min-height: 100%;
}








.product-details-name {
  color: var(--white);
  font-size: 20px;
}

.play-button {
  width: 100%;
  background-color: var(--gold-color);
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 10px;
}


.recipe-info {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: var(--grey-text);
}

.container-details h2 {
  font-size: 15px;
  color: var(--white);
  margin-bottom: 10px;
}

.recipe-info span {
  display: flex;
  align-items: center;
  background-color: var(--medium-bg);
  color: var(--white);
  border-radius: 10px;
  font-size: 12px;
  padding: 8px;
  margin: 5px;
}

.recipe-info i {
  text-decoration: none;
  font-size: 12px;
}

.ingredients {
  margin-bottom: 20px;
  font-size: 12px;
}

.instructions {
  font-size: 12px;
}

.recipe-info p {
  font-size: 12px;
}


.product-container {
  display: flex;
  /* Horizontal layout */
  overflow-x: auto;
}

.container h1 {
  font-size: 17px;
  margin-left: 10px;
  color: var(--white);
}


.product-card-ctg {
  
  width: 250px; /* Atur lebar kartu sesuai kebutuhan */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.product-image-ctg {
  max-width: 100%;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.product-name-ctg {
  margin-top: 8px;
  font-size: 17px;
  color: var(--white);
}

.product-info-ctg {
  margin-top:10px;
  font-size: 14px;
  color: var(--grey-text);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Jumlah baris maksimum */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.product-container::-webkit-scrollbar {
  width: 20px;
}

.product-card-ctg::-webkit-scrollbar-track {
  background-color: var(--dark-bg);
}

.product-ctg::-webkit-scrollbar-thumb {
  background-color: var(--dark-bg);
  border-radius: 5px;
}

/* Gaya untuk elemen ".section-category" */
.section-category-beef,
.section-category-kategori1 {
    margin-bottom: 20px;
}

/* Gaya untuk elemen ".title-container" */
.title-container {
    display: flex;
    justify-content: space-between; /* Mengatur elemen pada ujung kiri dan kanan */
    align-items: center; /* Mengatur elemen secara vertikal berada di tengah */
}

/* Gaya untuk elemen "See All" */
.see-all {
    font-size: 14px;
    color: var(--gold-color);
    margin-right: 10px;
}




#tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.tab {
  color: #777;
  text-align: center;
  flex: 1;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab i {
  font-size: 24px;
  margin-bottom: 5px;
}

.tab.active {
  color: #f7d098;
}

.content {
  padding: 20px;
}


/* Styling for the alternate product list */
#alternateProductList {
  margin: 20px;
}

/* Styling for each individual product item */
.alternate-product-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* Styling for the product card within each item */
.alternate-product-card {
  text-align: left;
  margin-top: auto;
}

/* Styling for the product image */
.alternate-product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #333333;
}

/* Styling for the product details */
.alternate-product-details {
  order: 1;
  padding: 10px;
  text-align: left;
}

/* Styling for the product name */
.alternate-product-name {
  font-size: 17px;
  color: var(--white);
  margin: 0;
}

.alternate-product-dit {
  position: relative;
  z-index: 1;
  top: -50px
}

.alternate-product-category {
  display: inline-block;
  font-size: 12px;
  color: var(--white);
  padding: 8px 15px;
  position: relative;
  z-index: 1;
  top: -50px;
  right: -10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.241);
  backdrop-filter: blur(5px);
}

/* Styling for the product price */
.alternate-product-info {
  font-size: 15px;
  color: var(--grey-text);
  margin: 5px 0;
}


@media (min-width: 768px) {
  .container {
    max-width: 400px;
  }

  .container-details {
    max-width: 400px;
    /* Tambahkan max-width di sini */
  }
}